:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: inherit;
  text-decoration: inherit;
}
a:hover {
  color: #99171c;
}
a:focus,
a:focus-visible {
  outline: none;
}
a span, button span {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  -webkit-tap-highlight-color: transparent !important;
}
a:focus span, a:focus-visible span, a:hover span,
button:focus span, button:focus-visible span, button:hover span {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}
svg[data-arrow="up-right"] {
  background: transparent !important;
  background-color: transparent !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}
html, body, #root {
  padding: 0 !important;
  margin: 0 !important;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #99171c;
}
button:focus,
button:focus-visible {
  outline: none;
}

.ant-menu-item:focus,
.ant-menu-item:focus-visible,
.ant-menu-item a:focus,
.ant-menu-item a:focus-visible {
  outline: none !important;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #99171c;
  }
  button {
    background-color: #f9f9f9;
  }
}
